/*
 * Author
 */

.author {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

.author:after {
  content: "";
  display: table;
  clear: both;
}

.author .gravatar {
	float: left;
}

.author .detail {
	margin-left: 90px;
}

.author .name {
	font-weight: bold;
}

.author .bio {
	line-height: 1rem;
	font-size: 90%;
}